#loading-img {
  width: 1em;
}



.box {
  display: inline-block;
  border: 1px black solid;
  padding: .2em;
  vertical-align: middle;
  line-height: normal;
  /*! height: .1; */
}

#import-status {
  margin-left: .4em;
}

#import-status.error {
  color: #b00020;
}

#import-status.success {
  color: #176b2c;
}

#zoom-value {
  display: inline-block;
  margin-left: .5em;
  min-width: 5em;
}